<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>

<!--PRODUCTION  Z:\wwwroot\Appraisal-->
<add name="GlobalSQLDataConnection" connectionString="Data Source=sql\cunet_db;Initial Catalog=CUNET_DB;user id=CUNET_ADMIN;password=100397;Integrated Security=False" providerName="System.Data.SqlClient"/>


<!--DEVELOPMENT  X:\wwwroot\Appraisal
<add name="GlobalSQLDataConnection"  connectionString="Data Source=sql\cunet_db_dev;Initial Catalog=CUNET_DB_DEV;user id=CUNET_ADMIN;password=100397;Integrated Security=False" providerName="System.Data.SqlClient"/>
-->
    
<!--LocalClass.SendMail  Appraisal - 4;  Appraisal_Edit - 3;  AppraisalHR_Review - 3;  MyGoals - 1; MyEmpGoals - 2;  MidPoint - 4;  All Emails-17 -->

    
  </connectionStrings>
  <system.web>
    <!--Increase maximum request length exceeded up 2 GB-->
    <compilation debug="true" strict="false" explicit="true"  targetFramework="4.5"/>
       <httpRuntime targetFramework="4.5" maxRequestLength="2097151"/>
    <!--if A potentially dangerous Request.Form value was detected. Add in <httpRuntime requestValidationMode="2.0"  or in <pages validateRequest="false" />    -->

    <customErrors mode="Off"/>
  </system.web>
  
<!--<system.webServer>
   <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" 
           type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
</system.webServer>-->
  
 <appSettings>
    <add key="ApplKey" value="06/01/2030"/>
 </appSettings>
</configuration>